
body {
    background-image: url("static/background.jpg");
    font: 40px/1.5 Impact;
    padding: 20px;

}

h1, h2, p {
    text-align: center;
}

.main-link {
    text-align: center;
}

form {
    display: inline-block;
}

.board {
    scale: inherit;
    border: 2px solid darkblue;
    background-color: blue;
    min-width: 80px;
}

.matches {
    scale: inherit;
    background-color: darkcyan;
    border: 2px solid #0d55b8;
}

table {
    margin: auto;
}

th {
    font-family: Arial, serif;
    padding: 10px;
    margin: 5% 10%;
}

td {
    align-self: center;
    font-family: Bahnschrift, serif;
    text-align: center;

}

.block {
    background-color: aqua;
    border: 2px solid darkblue;
}

.page-button {
    align-self: center;
    height: 25px;
    width: 25px;
    line-height: 50px;
    text-align: center;
    border: 3px solid lightslategray;
    padding: 0 1rem;
}


.button-wrapper{
    background-image: url(static/rocket2.jpg);
    align-self: center;
    height: 50px;
    width: 50px;
    line-height: 50px;
    position: relative;
    border: 3px solid lightslategray;
    padding: 0 1rem;
}


p {
    padding: 30px;
    margin: auto;
    display: block;
}