
body {
    background-image: url("static/background.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font: 40px/1.5 Impact;
    padding: 20px;

}

img {
    width: 100%;
    height: 100%;}

.head {
    text-align: center;
    align-self: center;
}

.winner-show {
    text-align: center;
    align-self: center;
}

h1, h2, p {
    text-align: center;
}

.main-link {
    text-align: center;
}

form {
    display: inline-block;
}

.board {
    scale: inherit;
    border: 2px solid darkblue;
    background-color: blue;
}

.matches {
    scale: inherit;
    background-color: blue;
    border: 2px solid #0d55b8;
}

.search-form, .pages-form {
    display: flex;
    justify-content: center;
    align-self: center;
}

.players-form {
    justify-content: center;
    align-self: center;
}

table {
    margin: auto;
}

th {
    font-family: Arial, serif;
    padding: 10px;
    margin: 5% 10%;
}

td {
    align-self: center;
    font-family: Bahnschrift, serif;
    text-align: center;

}

.block {
    justify-content: center;
    align-self: center;
    background-color: blue;
    border: 2px solid darkblue;
}

.labels {
    text-align: center;
    display: flex;
}

.page-button {
    align-self: center;
    height: 25px;
    width: 25px;
    line-height: 50px;
    text-align: center;
    border: 3px solid lightslategray;
    padding: 0 1rem;
}


.button-wrapper{
    align-self: center;
    height: 50px;
    width: 50px;
    line-height: 50px;
    position: relative;
    border: 3px solid lightslategray;
    padding: 0 1rem;
}


p {
    padding: 30px;
    margin: auto;
    display: block;
}