
body {
    background-image: url("static/background.jpg");
    font: 40px/1.5 Impact;
    padding: 20px;

}

h1, h2, p {
    text-align: center;
}

a {
    text-align: center;
    margin: auto;
}

.board {
    border: 2px solid darkblue;
    background-color: blue;
}

table {
    margin: auto;
}

img {

}

th {
    font-family: Arial, serif;
    padding: 10px;
    margin: 5% 10%;
}

td {
    align-self: center;
    font-family: Bahnschrift, serif;
    text-align: center;

}

.block {
    background-color: aqua;
}


.button-wrapper{
    align-self: center;
    display: inline-block;
    height: 50px;
    width: 50px;
    line-height: 50px;
    position: relative;
    border: 3px solid lightslategray;
    padding: 0 1rem;
}

button {

}

p {
    padding: 30px;
    margin: auto;
    display: block;
}