body {
    background-color: aquamarine;
}

body {
    background-color: aquamarine;
}

a {
    font-size: xx-large;
    font-family: Impact, serif;
    margin: auto;
    display: block;
}

p {
    font-size: xx-large;
    font-family: Sans-Serif, serif;
    margin: auto;
    display: block;
}