<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
 <welcome-file-list>
     <welcome-file>MainPage.jsp</welcome-file>
 </welcome-file-list>

    <servlet>
        <servlet-name>MainPage</servlet-name>
        <jsp-file>/MainPage.jsp</jsp-file>
        <init-param>
            <param-name>development</param-name>
            <param-value>true</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainPage</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>MatchResults.jsp</servlet-name>
        <jsp-file>/MatchResults.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>MatchResults.jsp</servlet-name>
        <url-pattern>/match-score/finish</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>MatchScoreView</servlet-name>
        <jsp-file>/MatchScoreView.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>MatchScoreView</servlet-name>
        <url-pattern>/match-score/view</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>FinishedMatchesView</servlet-name>
        <jsp-file>/FinishedMatchesView.jsp</jsp-file>
        <init-param>
            <param-name>development</param-name>
            <param-value>true</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>FinishedMatchesView</servlet-name>
        <url-pattern>/FinishedMatchesView</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>NewMatchView</servlet-name>
        <jsp-file>/NewMatchView.jsp</jsp-file>
        <init-param>
            <param-name>development</param-name>
            <param-value>true</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewMatchView</servlet-name>
        <url-pattern>/new-match/view</url-pattern>
    </servlet-mapping>

</web-app>